<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.db.chaomaxs.userservice.dal.mysql.mapper.resume.UserEnclosureResumeMapper">

  <!-- 可根据自己的需求，是否要使用 -->
  <resultMap type="com.db.chaomaxs.userservice.dal.mysql.dataobject.resume.UserEnclosureResumeDO"
    id="BaseResultMap">
    <result property="id" column="id"/>
    <result property="userId" column="user_id"/>
    <result property="resourceId" column="resource_id"/>
    <result property="resumeName" column="resume_name"/>
    <result property="deleted" column="is_deleted"/>
    <result property="createTime" column="create_time"/>
    <result property="createBy" column="create_by"/>
    <result property="updateTime" column="update_time"/>
    <result property="updateBy" column="update_by"/>
  </resultMap>
  <select id="selectByUserId" resultMap="BaseResultMap">
    select id,user_id,resource_id,resume_name,create_time
    from user_enclosure_resume
    where user_id = #{userId} and is_deleted = 0
  </select>
</mapper>
