<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.db.chaomaxs.userservice.dal.mysql.mapper.resume.UserCredentialMapper">

  <!-- 可根据自己的需求，是否要使用 -->
  <resultMap type="com.db.chaomaxs.userservice.dal.mysql.dataobject.resume.UserCredentialDO"
    id="BaseResultMap">
    <result property="id" column="id"/>
    <result property="userResumeId" column="user_resume_id"/>
    <result property="name" column="name"/>
    <result property="startTime" column="start_time"/>
    <result property="endTime" column="end_time"/>
    <result property="companyId" column="company_id"/>
    <result property="deleted" column="is_deleted"/>
    <result property="createTime" column="create_time"/>
    <result property="createBy" column="create_by"/>
    <result property="updateTime" column="update_time"/>
    <result property="updateBy" column="update_by"/>
  </resultMap>
  <select id="listCredentialByResumeId" resultMap="BaseResultMap">
    select id,user_resume_id,name,end_time,start_time
    from user_credential
    where user_resume_id = #{resumeId} and is_deleted = 0
  </select>
</mapper>
