<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.xf717.userservice.dal.mysql.mapper.user.UserSetMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.github.xf717.userservice.dal.mysql.dataobject.user.UserSetDO" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="companyUserId" column="company_user_id"/>
        <result property="blackSwitch" column="black_switch"/>
        <result property="blackCompanyUserSwitch" column="black_company_user_switch"/>
        <result property="topSwitch" column="top_switch"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <select id="getUserSetByUserIdAndCompanyUserId" resultMap="BaseResultMap">
        SELECT id,black_switch,black_company_user_switch,top_switch from user_set where user_id=#{userId} and company_user_id=#{companyUserId} and is_deleted=0
    </select>
</mapper>
