<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.db.chaomaxs.userservice.dal.mysql.mapper.user.UserThirdMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.db.chaomaxs.userservice.dal.mysql.dataobject.user.UserThirdDO" id="BaseResultMap">
                    <result property="id" column="id"/>
                    <result property="userId" column="user_id"/>
                    <result property="thirdType" column="third_type"/>
                    <result property="thirdIden" column="third_iden"/>
                    <result property="nickname" column="nickname"/>
                    <result property="avatarUrl" column="avatar_url"/>
                    <result property="gender" column="gender"/>
                    <result property="companyId" column="company_id"/>
                    <result property="deleted" column="is_deleted"/>
                    <result property="createTime" column="create_time"/>
                    <result property="createBy" column="create_by"/>
                    <result property="updateTime" column="update_time"/>
                    <result property="updateBy" column="update_by"/>
            </resultMap>
</mapper>
