<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.db.chaomaxs.userservice.dal.mysql.mapper.user.UserExtendMapper">

  <!-- 可根据自己的需求，是否要使用 -->
  <resultMap type="com.db.chaomaxs.userservice.dal.mysql.dataobject.user.UserExtendDO"
    id="BaseResultMap">
    <result property="id" column="id"/>
    <result property="userId" column="user_id"/>
    <result property="email" column="email"/>
    <result property="weixin" column="weixin"/>
    <result property="gender" column="gender"/>
    <result property="realName" column="real_name"/>
    <result property="idcard" column="idcard"/>
    <result property="companyId" column="company_id"/>
    <result property="companyName" column="company_name"/>
    <result property="registerTime" column="register_time"/>
    <result property="userRole" column="user_role"/>
    <result property="identityType" column="identity_type"/>
    <result property="enabledGreet" column="is_enabled_greet"/>
    <result property="enabledInterviewNotice" column="is_enabled_interview_notice"/>
    <result property="enabledHide" column="is_enabled_hide"/>
    <result property="registerIp" column="register_ip"/>
    <result property="registerType" column="register_type"/>
    <result property="registerSource" column="register_source"/>
    <result property="expireFreeze" column="expire_freeze"/>
    <result property="freezeReason" column="freeze_reason"/>
    <result property="invitUserId" column="invit_user_id"/>
    <result property="terminalType" column="terminal_type"/>
    <result property="terminalSn" column="terminal_sn"/>
    <result property="terminalName" column="terminal_name"/>
    <result property="deleted" column="is_deleted"/>
    <result property="createTime" column="create_time"/>
    <result property="createBy" column="create_by"/>
    <result property="updateTime" column="update_time"/>
    <result property="updateBy" column="update_by"/>
    <result property="completeResume" column="is_complete_resume"/>
  </resultMap>

  <select id="selectByUserId" resultMap="BaseResultMap">
    select id,user_id,real_name,company_id,weixin,gender,identity_type,user_role,is_enabled_greet,is_enabled_hide,is_enabled_interview_notice
    from user_extend
    where user_id =#{userId} and is_deleted = 0
  </select>
  <select id="selectByUserIds" resultMap="BaseResultMap">
    select user_id,real_name,company_id
    from user_extend
    where is_deleted = 0 and user_id in
    <foreach collection="userIds" item="item" open="(" close=")" separator="," index="">
      #{item}
    </foreach>
  </select>

</mapper>
