<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.db.chaomaxs.userservice.dal.mysql.mapper.user.UserTrackMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.db.chaomaxs.userservice.dal.mysql.dataobject.user.UserTrackDO" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="companyUserId" column="company_user_id"/>
        <result property="positionId" column="position_id"/>
        <result property="deleted" column="is_deleted"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <resultMap type="com.db.chaomaxs.userservice.dal.mysql.dataobject.user.UserTrackStatisticsDO"
               id="BaseStatisticsResultMap">
        <result property="positionId" column="position_id"/>
        <result property="count" column="count"/>
    </resultMap>

    <select id="getByUserIdAndCompanyUserId" resultMap="BaseResultMap">
           SELECT id from  user_track where user_id=#{userId} and position_id=#{positionId} and company_user_id =#{companyUserId} and is_deleted=0
    </select>

    <update id="updateById">
         update user_track set update_time=now() where id=#{id}  and is_deleted=0
    </update>

    <select id="getStatisticByPositionIds" resultMap="BaseStatisticsResultMap">
        SELECT position_id, count( 1 ) AS count FROM user_track
        WHERE position_id IN
        <foreach item="item" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND is_deleted = 0 GROUP BY position_id
    </select>

</mapper>
