<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.xf717.logservice.dal.mysql.mapper.sms.UserSmsCodeMapper">

  <!-- 可根据自己的需求，是否要使用 -->
  <resultMap type="com.github.xf717.logservice.dal.mysql.dataobject.sms.UserSmsCodeDO"
    id="BaseResultMap">
    <result property="id" column="id"/>
    <result property="mobile" column="mobile"/>
    <result property="code" column="code"/>
    <result property="scene" column="scene"/>
    <result property="todayIndex" column="today_index"/>
    <result property="createIp" column="create_ip"/>
    <result property="used" column="is_used"/>
    <result property="usedTime" column="used_time"/>
    <result property="usedIp" column="used_ip"/>
    <result property="deleted" column="is_deleted"/>
    <result property="createTime" column="create_time"/>
    <result property="createBy" column="create_by"/>
    <result property="updateTime" column="update_time"/>
    <result property="updateBy" column="update_by"/>
  </resultMap>
</mapper>
