<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
  namespace="com.github.xf717.systemservice.dal.mysql.mapper.content.ProblemInformationExtendMapper">

  <!-- 可根据自己的需求，是否要使用 -->
  <resultMap
    type="com.github.xf717.systemservice.dal.mysql.dataobject.content.ProblemInformationExtendDO"
    id="BaseResultMap">
    <result property="id" column="id"/>
    <result property="content" column="content"/>
    <result property="problemInfoId" column="problem_info_id"/>
    <result property="isDeleted" column="is_deleted"/>
    <result property="createTime" column="create_time"/>
    <result property="createBy" column="create_by"/>
    <result property="updateTime" column="update_time"/>
    <result property="updateBy" column="update_by"/>
  </resultMap>

  <update id="deleteByProblemInfoId" parameterType="int">
    update problem_information_extend set is_deleted = 1 where problem_info_id = #{problemInfoId}
  </update>
</mapper>
