<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.xf717.systemservice.dal.mysql.mapper.content.WorkContentMapper">

  <!-- 可根据自己的需求，是否要使用 -->
  <resultMap type="com.github.xf717.systemservice.dal.mysql.dataobject.content.WorkContentDO"
    id="BaseResultMap">
    <result property="id" column="id"/>
    <result property="onePositionTypeId" column="one_position_type_id"/>
    <result property="twoPositionTypeId" column="two_position_type_id"/>
    <result property="threePositionTypeId" column="three_position_type_id"/>
    <result property="releaseStatus" column="release_status"/>
    <result property="isDeleted" column="is_deleted"/>
    <result property="createTime" column="create_time"/>
    <result property="createBy" column="create_by"/>
    <result property="updateTime" column="update_time"/>
    <result property="updateBy" column="update_by"/>
  </resultMap>
  <select id="selectMaxWorkContentId" resultType="java.lang.Long">
    select id from work_content where is_deleted =0 ORDER BY id desc LIMIT 1
  </select>
</mapper>
