<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.db.chaomaxs.companyservice.dal.mysql.mapper.company.CompanyWelfareMapper">

  <!-- 可根据自己的需求，是否要使用 -->
  <resultMap type="com.db.chaomaxs.companyservice.dal.mysql.dataobject.company.CompanyWelfareDO"
    id="BaseResultMap">
    <result property="id" column="id"/>
    <result property="name" column="name"/>
    <result property="companyId" column="company_id"/>
    <result property="iconUrl" column="icon_url"/>
    <result property="welfareType" column="welfare_type"/>
    <result property="deleted" column="is_deleted"/>
    <result property="createTime" column="create_time"/>
    <result property="createBy" column="create_by"/>
    <result property="updateTime" column="update_time"/>
    <result property="updateBy" column="update_by"/>
  </resultMap>


  <insert id="batchSaveDefaultWelfare" parameterType="java.util.List">
    INSERT INTO company_welfare
    (name, parent_id, company_id, welfare_type, is_choose, create_by, update_by)
    VALUES
    <foreach collection="companyWelfareDOs" item="item" separator=",">
      (#{item.name}, #{item.parentId}, #{item.companyId},
      #{item.welfareType}, #{item.choose}, #{item.createBy}, #{item.updateBy}
      )
    </foreach>
  </insert>

  <update id="batchUpdateWelfareChoose" parameterType="java.util.List">
    insert into company_welfare
    (id, is_choose, update_by, update_time)
    values
    <foreach collection="companyWelfareDOs" item="item" separator=",">
      (#{item.id}, #{item.choose}, #{item.updateBy},
      #{item.updateTime})
    </foreach>
    ON DUPLICATE KEY UPDATE
    is_choose = VALUES(is_choose),
    update_by = VALUES(update_by),
    update_time = VALUES(update_time);
  </update>
</mapper>
