<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.maruko.mall.user.server.mapper.UserExtendMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.maruko.mall.user.server.entity.UserExtendDO" id="userExtendMap">
                    <result property="userExtendId" column="user_extend_id"/>
                    <result property="userId" column="user_id"/>
                    <result property="email" column="email"/>
                    <result property="gender" column="gender"/>
                    <result property="birthdayYear" column="birthday_year"/>
                    <result property="birthdayMonth" column="birthday_month"/>
                    <result property="birthdayDay" column="birthday_day"/>
                    <result property="regTime" column="reg_time"/>
                    <result property="regIp" column="reg_ip"/>
                    <result property="regType" column="reg_type"/>
                    <result property="regSource" column="reg_source"/>
                    <result property="expireFreeze" column="expire_freeze"/>
                    <result property="reason" column="reason"/>
                    <result property="terminalType" column="terminal_type"/>
                    <result property="terminalSn" column="terminal_sn"/>
                    <result property="terminalName" column="terminal_name"/>
                    <result property="createTime" column="create_time"/>
                    <result property="createBy" column="create_by"/>
                    <result property="modifyTime" column="modify_time"/>
                    <result property="modifyBy" column="modify_by"/>
            </resultMap>

    <select id="query" resultMap="userExtendMap" parameterType="com.maruko.mall.user.server.entity.UserExtendDO">
        select
        <trim suffixOverrides=",">
                            user_extend_id,
                            user_id,
                            email,
                            gender,
                            birthday_year,
                            birthday_month,
                            birthday_day,
                            reg_time,
                            reg_ip,
                            reg_type,
                            reg_source,
                            expire_freeze,
                            reason,
                            terminal_type,
                            terminal_sn,
                            terminal_name,
                            create_time,
                            create_by,
                            modify_time,
                            modify_by,
                    </trim>
        from user_extend
        <where>
            1 = 1
                            <if test="userExtendId != null">
                    AND user_extend_id = #{userExtendId}
                </if>
                            <if test="userId != null">
                    AND user_id = #{userId}
                </if>
                            <if test="email != null">
                    AND email = #{email}
                </if>
                            <if test="gender != null">
                    AND gender = #{gender}
                </if>
                            <if test="birthdayYear != null">
                    AND birthday_year = #{birthdayYear}
                </if>
                            <if test="birthdayMonth != null">
                    AND birthday_month = #{birthdayMonth}
                </if>
                            <if test="birthdayDay != null">
                    AND birthday_day = #{birthdayDay}
                </if>
                            <if test="regTime != null">
                    AND reg_time = #{regTime}
                </if>
                            <if test="regIp != null">
                    AND reg_ip = #{regIp}
                </if>
                            <if test="regType != null">
                    AND reg_type = #{regType}
                </if>
                            <if test="regSource != null">
                    AND reg_source = #{regSource}
                </if>
                            <if test="expireFreeze != null">
                    AND expire_freeze = #{expireFreeze}
                </if>
                            <if test="reason != null">
                    AND reason = #{reason}
                </if>
                            <if test="terminalType != null">
                    AND terminal_type = #{terminalType}
                </if>
                            <if test="terminalSn != null">
                    AND terminal_sn = #{terminalSn}
                </if>
                            <if test="terminalName != null">
                    AND terminal_name = #{terminalName}
                </if>
                            <if test="createTime != null">
                    AND create_time = #{createTime}
                </if>
                            <if test="createBy != null">
                    AND create_by = #{createBy}
                </if>
                            <if test="modifyTime != null">
                    AND modify_time = #{modifyTime}
                </if>
                            <if test="modifyBy != null">
                    AND modify_by = #{modifyBy}
                </if>
                    </where>
    </select>

    <insert id="insertSelectiveUserExtend" parameterType="com.maruko.mall.user.server.entity.UserExtendDO"
            useGeneratedKeys="true" keyColumn="user_extend_id" keyProperty="userExtendId">
        insert into user_extend
        <trim prefix="(" suffix=")" suffixOverrides=",">
                            <if test="userExtendId != null">
                    user_extend_id,
                </if>
                            <if test="userId != null">
                    user_id,
                </if>
                            <if test="email != null">
                    email,
                </if>
                            <if test="gender != null">
                    gender,
                </if>
                            <if test="birthdayYear != null">
                    birthday_year,
                </if>
                            <if test="birthdayMonth != null">
                    birthday_month,
                </if>
                            <if test="birthdayDay != null">
                    birthday_day,
                </if>
                            <if test="regTime != null">
                    reg_time,
                </if>
                            <if test="regIp != null">
                    reg_ip,
                </if>
                            <if test="regType != null">
                    reg_type,
                </if>
                            <if test="regSource != null">
                    reg_source,
                </if>
                            <if test="expireFreeze != null">
                    expire_freeze,
                </if>
                            <if test="reason != null">
                    reason,
                </if>
                            <if test="terminalType != null">
                    terminal_type,
                </if>
                            <if test="terminalSn != null">
                    terminal_sn,
                </if>
                            <if test="terminalName != null">
                    terminal_name,
                </if>
                            <if test="createTime != null">
                    create_time,
                </if>
                            <if test="createBy != null">
                    create_by,
                </if>
                            <if test="modifyTime != null">
                    modify_time,
                </if>
                            <if test="modifyBy != null">
                    modify_by,
                </if>
                    </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                            <if test="userExtendId != null">
                    #{userExtendId},
                </if>
                            <if test="userId != null">
                    #{userId},
                </if>
                            <if test="email != null">
                    #{email},
                </if>
                            <if test="gender != null">
                    #{gender},
                </if>
                            <if test="birthdayYear != null">
                    #{birthdayYear},
                </if>
                            <if test="birthdayMonth != null">
                    #{birthdayMonth},
                </if>
                            <if test="birthdayDay != null">
                    #{birthdayDay},
                </if>
                            <if test="regTime != null">
                    #{regTime},
                </if>
                            <if test="regIp != null">
                    #{regIp},
                </if>
                            <if test="regType != null">
                    #{regType},
                </if>
                            <if test="regSource != null">
                    #{regSource},
                </if>
                            <if test="expireFreeze != null">
                    #{expireFreeze},
                </if>
                            <if test="reason != null">
                    #{reason},
                </if>
                            <if test="terminalType != null">
                    #{terminalType},
                </if>
                            <if test="terminalSn != null">
                    #{terminalSn},
                </if>
                            <if test="terminalName != null">
                    #{terminalName},
                </if>
                            <if test="createTime != null">
                    #{createTime},
                </if>
                            <if test="createBy != null">
                    #{createBy},
                </if>
                            <if test="modifyTime != null">
                    #{modifyTime},
                </if>
                            <if test="modifyBy != null">
                    #{modifyBy},
                </if>
                    </trim>
    </insert>

</mapper>