<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.maruko.mall.user.server.mapper.UserIntegralMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.maruko.mall.user.server.entity.UserIntegralDO" id="userIntegralMap">
                    <result property="userIntegralId" column="user_integral_id"/>
                    <result property="userId" column="user_id"/>
                    <result property="totalIntegral" column="total_integral"/>
                    <result property="integral" column="integral"/>
                    <result property="createTime" column="create_time"/>
                    <result property="createBy" column="create_by"/>
                    <result property="modifyTime" column="modify_time"/>
                    <result property="modifyBy" column="modify_by"/>
            </resultMap>

    <select id="query" resultMap="userIntegralMap" parameterType="com.maruko.mall.user.server.entity.UserIntegralDO">
        select
        <trim suffixOverrides=",">
                            user_integral_id,
                            user_id,
                            total_integral,
                            integral,
                            create_time,
                            create_by,
                            modify_time,
                            modify_by,
                    </trim>
        from user_integral
        <where>
            1 = 1
                            <if test="userIntegralId != null">
                    AND user_integral_id = #{userIntegralId}
                </if>
                            <if test="userId != null">
                    AND user_id = #{userId}
                </if>
                            <if test="totalIntegral != null">
                    AND total_integral = #{totalIntegral}
                </if>
                            <if test="integral != null">
                    AND integral = #{integral}
                </if>
                            <if test="createTime != null">
                    AND create_time = #{createTime}
                </if>
                            <if test="createBy != null">
                    AND create_by = #{createBy}
                </if>
                            <if test="modifyTime != null">
                    AND modify_time = #{modifyTime}
                </if>
                            <if test="modifyBy != null">
                    AND modify_by = #{modifyBy}
                </if>
                    </where>
    </select>

    <insert id="insertSelectiveUserIntegral" parameterType="com.maruko.mall.user.server.entity.UserIntegralDO"
            useGeneratedKeys="true" keyColumn="user_integral_id" keyProperty="userIntegralId">
        insert into user_integral
        <trim prefix="(" suffix=")" suffixOverrides=",">
                            <if test="userIntegralId != null">
                    user_integral_id,
                </if>
                            <if test="userId != null">
                    user_id,
                </if>
                            <if test="totalIntegral != null">
                    total_integral,
                </if>
                            <if test="integral != null">
                    integral,
                </if>
                            <if test="createTime != null">
                    create_time,
                </if>
                            <if test="createBy != null">
                    create_by,
                </if>
                            <if test="modifyTime != null">
                    modify_time,
                </if>
                            <if test="modifyBy != null">
                    modify_by,
                </if>
                    </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                            <if test="userIntegralId != null">
                    #{userIntegralId},
                </if>
                            <if test="userId != null">
                    #{userId},
                </if>
                            <if test="totalIntegral != null">
                    #{totalIntegral},
                </if>
                            <if test="integral != null">
                    #{integral},
                </if>
                            <if test="createTime != null">
                    #{createTime},
                </if>
                            <if test="createBy != null">
                    #{createBy},
                </if>
                            <if test="modifyTime != null">
                    #{modifyTime},
                </if>
                            <if test="modifyBy != null">
                    #{modifyBy},
                </if>
                    </trim>
    </insert>

</mapper>