package ${package}.biz;

import org.springframework.stereotype.Service;

import ${package}.entity.${className};
import ${package}.mapper.${className}Mapper;
import com.maruko.mall.common.biz.BaseBiz;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Service
public class ${className}Biz extends BaseBiz<${className}Mapper,${className}> {
}