package ${package}.convert;

import org.mapstruct.Mapper;
import org.mapstruct.Mappings;
import org.mapstruct.factory.Mappers;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Mapper
public interface ${className}Convert {

    ${className}Convert INSTANCE = Mappers.getMapper(${className}Convert.class);

    @Mappings({})
        ${className}BO convert(${className}DO ${classname}Do);

	@Mappings({})
    List<${className}BO> convert(List<${className}DO> ${classname}DOS);





}
