package ${package}.client.facade;

import ${package}.client.facade.api.I${className}Facade;
import org.springframework.cloud.openfeign.FeignClient;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
@FeignClient(value = "${${serverName}}")
public interface I${className}FeignClientFacade extends I${className}Facade {
}
