import fetch from 'utils/fetch';

export function page(query) {
return fetch({
url: '/api/${moduleName}/${secondModuleName}/page',
method: 'post',
data: query
});
}

export function addObj(obj) {
return fetch({
url: '/api/${moduleName}/${secondModuleName}/add',
method: 'post',
data: obj
});
}

export function getObj(id) {
return fetch({
url: '/api/${moduleName}/${secondModuleName}/findById/' + id,
method: 'get'
})
}

export function delObj(id) {
return fetch({
url: '/api/${moduleName}/${secondModuleName}/remove/' + id,
method: 'delete'
})
}

export function putObj(id, obj) {
return fetch({
url: '/api/${moduleName}/${secondModuleName}/update/' + id,
method: 'put',
data: obj
})
}
