package ${package}.entity;

import org.apache.commons.lang3.builder.ToStringBuilder;

import java.io.Serializable;
import java.util.Date;
import javax.persistence.*;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
import lombok.Data;
import lombok.experimental.Accessors;


/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Table(name = "${tableName}")
@Data
@Accessors(chain = true)
public class ${className}DO implements Serializable {
	private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
	#if($column.columnName == $pk.columnName)
    /**
     * ${column.comments}
     */
    @Id
    private $column.attrType $column.attrname;
	#else
    /**
     * ${column.comments}
     */
    @Column(name = "$column.columnName")
    private $column.attrType $column.attrname;
	#end

#end

}
