<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.db.chaomaxs.positionservice.dal.mysql.mapper.position.CompanyPositionMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.db.chaomaxs.positionservice.dal.mysql.dataobject.position.CompanyPositionDO"
               id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="positionName" column="position_name"/>
        <result property="companyUserId" column="company_user_id"/>
        <result property="positionTypeId" column="position_type_id"/>
        <result property="experienceId" column="experience_id"/>
        <result property="experience" column="experience"/>
        <result property="educationId" column="education_id"/>
        <result property="education" column="education"/>
        <result property="startSalary" column="start_salary"/>
        <result property="endSalary" column="end_salary"/>
        <result property="provinceCode" column="province_code"/>
        <result property="cityCode" column="city_code"/>
        <result property="areaCode" column="area_code"/>
        <result property="street" column="street"/>
        <result property="address" column="address"/>
        <result property="mapAddress" column="map_address"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <result property="businessDistrict" column="business_district"/>
        <result property="status" column="status"/>
        <result property="deleted" column="is_deleted"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
    </resultMap>

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.db.chaomaxs.positionservice.dal.mysql.dataobject.position.GetCompanyPositionDO"
               id="GetCompanyPositionBaseResultMap">
        <result property="id" column="id"/>
        <result property="positionName" column="position_name"/>
        <result property="companyUserId" column="company_user_id"/>
        <result property="positionTypeId" column="position_type_id"/>
        <result property="experienceId" column="experience_id"/>
        <result property="educationId" column="education_id"/>
        <result property="startSalary" column="start_salary"/>
        <result property="endSalary" column="end_salary"/>
        <result property="yearSalary" column="year_salary"/>
        <result property="provinceCode" column="province_code"/>
        <result property="cityCode" column="city_code"/>
        <result property="areaCode" column="area_code"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <result property="content" column="content"/>
    </resultMap>
    <select id="getCompanyPositionsByIds" parameterType="java.util.Set" resultMap="BaseResultMap">
        SELECT id,position_name,start_salary,end_salary,education_id,experience_id,status,area_code,business_district
        from company_position where
        is_deleted=0 and id in
        <foreach item="item" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getById" resultMap="GetCompanyPositionBaseResultMap">
       SELECT cp.id,cp.position_name,cp.experience_id,cp.education_id,cp.start_salary,cp.end_salary,cp.year_salary,
	           cp.province_code,cp.city_code,cp.area_code,cpe.content,cp.company_user_id
	   FROM company_position cp INNER JOIN company_position_extend cpe ON cp.id = cpe.company_position_id
	   WHERE cp.id = #{id} AND cp.is_deleted = 0 AND cpe.is_deleted =0
    </select>


</mapper>
