<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.db.chaomaxs.positionservice.dal.mysql.mapper.position.CompanyPositionKeywordMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.db.chaomaxs.positionservice.dal.mysql.dataobject.position.CompanyPositionKeywordDO"
               id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="companyPositionId" column="company_position_id"/>
        <result property="positionKeywordId" column="position_keyword_id"/>
        <result property="deleted" column="is_deleted"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
    </resultMap>

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.db.chaomaxs.positionservice.dal.mysql.dataobject.position.GetCompanyPositionKeywordDO"
               id="GetCompanyPositionKeywordResultMap">
        <result property="companyPositionId" column="company_position_id"/>
        <result property="positionKeywordId" column="position_keyword_id"/>
        <result property="keywordTitle" column="keyword_title"/>

    </resultMap>

    <select id="getIdsByCompanyPositionId" resultMap="GetCompanyPositionKeywordResultMap">
        SELECT cpk.position_keyword_id,pk.keyword_title
        from company_position_keyword cpk INNER JOIN position_keyword pk ON cpk.position_keyword_id = pk.id
        where cpk.is_deleted =0 and cpk.company_position_id=#{companyPositionId}
    </select>


    <select id="getIdsByCompanyPositionIds" parameterType="java.util.Set"
            resultMap="GetCompanyPositionKeywordResultMap">
        SELECT cpk.position_keyword_id,cpk.company_position_id,pk.keyword_title
        from company_position_keyword cpk INNER JOIN position_keyword pk ON cpk.position_keyword_id = pk.id
        where cpk.is_deleted =0 and cpk.company_position_id in
        <foreach item="item" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <insert id="batchInsert">
        insert into company_position_keyword(company_position_id,position_keyword_id,create_by,update_by)
        values
        <foreach item="item" collection="items" index="index" separator=",">
            (
            #{item.companyPositionId},
            #{item.positionKeywordId},
            #{item.createBy},
            #{item.createBy}
            )
        </foreach>
    </insert>

    <delete id="deleteByCompanyPositionId">
        delete from company_position_keyword where company_position_id =#{companyPositionId}
    </delete>

    <delete id="softDeleteByCompanyPositionId">
        update company_position_extend  set is_deleted=1 where company_position_id=#{companyPositionId} and is_deleted=0
    </delete>
</mapper>
