<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.db.chaomaxs.positionservice.dal.mysql.mapper.position.CompanyPositionExtendMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.db.chaomaxs.positionservice.dal.mysql.dataobject.position.CompanyPositionExtendDO"
               id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="content" column="content"/>
        <result property="companyPositionId" column="company_position_id"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
    </resultMap>
    <update id="updateByCompanyPositionId">
        update company_position_extend set content=#{content},update_by=#{updateBy} where company_position_id=#{companyPositionId} and is_deleted=0
    </update>

    <delete id="deleteByCompanyPositionId">
        update company_position_extend  set is_deleted=1 where company_position_id=#{companyPositionId} and is_deleted=0
    </delete>

</mapper>
